{% extends 'backend/_layout.html.twig' %}

{% block content %}
    <header>
        <h3>Spieler</h3>
    </header>
    <section>
        <table class="table">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Name</th>
                <th>Email</th>
                <th>Account</th>
            </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.account }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
