{% extends 'base.html.twig' %}

{% block title %}Migrate users{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User umwandeln</h5>
            <p class="card-text">
                {% if countOfUsers > 0 %}
                Es gibt noch {{ countOfUsers }} Mitspieler umzuwandeln
                {% else %}
                Keine weiteren Mitspieler umzuwandeln.
                {% endif %}
            </p>
            <form method="post" action="">
                <button type="submit" {{ countOfUsers == 0 ? 'disabled' }} class="btn btn-primary">Leg los</button>
            </form>
        </div>
    </div>
{% endblock %}
