<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - runde.tips</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="/">Tipprunde</a>
    </nav>
    {% block body %}{% endblock %}
    <div class="toasts d-none">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div data-type="{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
