{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="r-grid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">API</h5>
                <p class="card-text">Dokumentation der API-Schnittstellen.</p>
                <a href="#" class="card-link">Explore</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Backend</h5>
                <p class="card-text">Verwaltung der Tipprunde, die noch nicht in der App realisiert sind.</p>
                <a href="{{ path('backend') }}" class="card-link">Admin</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Migration</h5>
                <p class="card-text">Umwandlung der alten Daten zum neuen Modell.</p>
                <a href="{{ path('migration') }}" class="card-link">Start Migrating</a>
            </div>
        </div>
    </div>
{% endblock %}
